body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.nav{
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: aliceblue;
    background-color: #333333;
}
.nav img{
    padding-top: 5px;
    padding-left: 10px;
    height: 42px;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 5px;
}
.search{
    display: flex;
    padding-left: 15px;
    background-color: #333333;
    border-radius: 20px;
    border: 2px solid black;
    height: 23px;
    margin-top: 19px;
    margin-left: 15px;
    align-items: center;
    width: 120px;
    height: 30px;
}
.text{
    background-color:  #333333;
    border: 0;
    padding-left: 2px;
   width: 80px;
}
ul button{
    background-color: #82AE22;
    height: 30px;
    border: 0px;
    border-radius: 5px;
}
.left-corner{
    align-items: center;
    margin-left: 13%;
}